@font-face{
    font-family: "Cocosignum";
    src: url("font/Cocosignum\ Maiuscoletto\ Light\ Trial.ttf");
}
@font-face{
    font-family: "Sequel Regular";
    src: url("font/Sequel-Regular.ttf") format("truetype");
}
*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    list-style: none;
    outline: none;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

body{
    /* overflow-y:hidden; */
    background: #000000;
    font-size: 15px;
}
/* Scroll */
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background: #226dc3;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
::-webkit-scrollbar-track {
    background: rgb(16, 33, 53);

}

/* Cambiamos el fondo cuando esté en active o hover */
::-webkit-scrollbar-track:hover{
  background: rgb(25, 57, 95);
}
/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
::-webkit-scrollbar-thumb:hover {
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
::-webkit-scrollbar-thumb:active {
    background-color: #0c74eb;
}
.page-gradient{
    width: 100%;
    height: 100%;
    background: linear-gradient(#102135 18.5%,#fff 18.5%);
}

/* iconsTop */
.icons-corner{
    visibility: visible;
    opacity: 1;
    position: fixed;
    width: 100%;
    height: 40px;
    background: #102135;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1em;
    color: #fff;
    z-index: 100;
    
}
.icons-left{
    width: 46%;
    height: 100%;
    margin-left: 20px;
    display: inline-flex;
    /* justify-content: space-between; */
    align-items: center;
}
.icons-left i{
    font-size: 1.3em;
}
.logo{
    width: 48%;
    text-align: center;
    line-height: 38px;
}
.logo h1{
    display: inline;
    font-size: 1.5em;
    font-weight: normal;
    font-family: "Cocosignum";
}
.icons-right{
    width: 46%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.icons-right>i{
    margin-right: 25px;
}
.fa-shopping-cart::after {
    content: "2";
    text-align: center;
    line-height: 13px;
    font-size: 9px;
    font-family: cursive;
    width: 12px;
    height: 12px;
    background: red;
    border: 2px solid #102135;
    position: absolute;
    top: 3px;
    right: 16px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: 1000;
}
/* MENUBTN */
.menu-btn{
    position: absolute;
    top: 7px;
    left: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    cursor: pointer;
    /* border: 1px solid; */
}
.menu-btn__burger,
.menu-btn__burger::before,
.menu-btn__burger::after{
    width: 20px;
    height: 2px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: transform .3s ease-in-out, background .3s ease-in-out;
    -webkit-transition: transform .3s ease-in-out, background .3s ease-in-out;
    -moz-transition: transform .3s ease-in-out, background .3s ease-in-out;
    -ms-transition: transform .3s ease-in-out, background .3s ease-in-out;
    -o-transition: transform .3s ease-in-out, background .3s ease-in-out;
    box-shadow: 0px 2px 5px rgba(255,101,47,.2);
}
.menu-btn__burger{
    width: 15px;
}
.menu-btn__burger::before,
.menu-btn__burger::after{
    content:"";
    position: absolute;
}
.menu-btn__burger::before{
    transform: translateY(-6px);
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    -o-transform: translateY(-6px);
}
.menu-btn__burger::after{
    transform: translateY(6px);
    -webkit-transform: translateY(6px);
    -moz-transform: translateY(6px);
    -ms-transform: translateY(6px);
    -o-transform: translateY(6px);
}
/* ANIMATION-BTNMenu */
.menu-btn.open .menu-btn__burger {
    background: transparent;
    box-shadow: none;
    /* transform: translateX(50px);
    -webkit-transform: translateX(50px);
    -moz-transform: translateX(50px);
    -ms-transform: translateX(50px);
    -o-transform: translateX(50px); */
}
.menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) ;
    -webkit-transform: rotate(45deg) ;
    -moz-transform: rotate(45deg) ;
    -ms-transform: rotate(45deg) ;
    -o-transform: rotate(45deg) ;
}
.menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) ;
    -webkit-transform: rotate(-45deg) ;
    -moz-transform: rotate(-45deg) ;
    -ms-transform: rotate(-45deg) ;
    -o-transform: rotate(-45deg) ;
}
/*  */
/* TRANSITIONS */

/* .menu-container*/
.icons-corner{
    transition: .5s visibility  ease-in-out, .5s opacity ease-in-out, .5s background ease-in-out;
    -webkit-transition: .5s visibility  ease-in-out, .5s opacity ease-in-out, .5s background ease-in-out;
    -moz-transition: .5s visibility  ease-in-out, .5s opacity ease-in-out, .5s background ease-in-out;
    -ms-transition: .5s visibility  ease-in-out, .5s opacity ease-in-out, .5s background ease-in-out;
    -o-transition: .5s visibility  ease-in-out, .5s opacity ease-in-out, .5s background ease-in-out;
}
/* MenuContent */
nav{
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    position: relative;
    width: 400px;
    height: 35px;
    left: 100px;

    background: #34495e;
    /* ReImportante el fontSize :,, */
    font-size: 0;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
nav a{
    text-align: center;
	-webkit-user-drag: none;
	font-size: 11px;
	text-transform: uppercase;
	color: white;
	text-decoration: none;
	line-height: 35px;
	position: relative;
	z-index: 1;
	display: inline-block;
}
nav .animation{

    position: absolute;
    height: 100%;
    /*height: 5px;
    */top: 0;
    /*bottom: 0;
    */z-index: 0;
    /* background: #1abc9c; */
    background: #0e1f34;
    border-radius: 8px;
    transition: all .5s ease ;
    -webkit-transition: all .5s ease ;
    -moz-transition: all .5s ease ;
    -ms-transition: all .5s ease ;
    -o-transition: all .5s ease ;
}
.enlaces-Internos:nth-child(1){
	width: 18%;
}

.enlaces-Internos:nth-child(1):hover~.animation{
	width: 18%;
	left: 0;
}

.enlaces-Internos:nth-child(2){
	width: 19%;
}

.enlaces-Internos:nth-child(2):hover~.animation{
	width: 19%;
	left: 18%;
}
.enlaces-Internos:nth-child(3){
	width: 23%;
}

.enlaces-Internos:nth-child(3):hover~.animation{
	width: 23%;
	left: 37%;
}

.enlaces-Internos:nth-child(4){
	width: 17%;
}

.enlaces-Internos:nth-child(4):hover~.animation{
	width: 17%;
	left: 60%;
}
.enlaces-Internos:nth-child(5){
	width: 23%;
}

.enlaces-Internos:nth-child(5):hover~.animation{
	width: 23%;
	left: 77%;
}
/*  */
.category>p{
    display: none;
    font-size: .8rem;
}
/* ShadowPage */
.pageShadow{
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 0px 20px rgba(68, 64, 64, 0.74);
}
/* ContentPage */
#content-container{
    width: 80%;
    height: 100%;
    position: relative;
    left: 10%;
}
section img{
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
    user-zoom: none; 
    -webkit-user-drag: none;
}
/* Intro */
.intro-container{
    padding-top: 39px;    
    overflow: hidden;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-image: url("background-night_optimized.jpg");
    background-attachment: fixed;
}
.product-intro{
    position: relative;
    width: 100%;
    height: 94vh;
}
.product-intro::before {
    filter: invert(190);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    content: "Flex Shoes";
    position: absolute;
    width: 80%;
    /*height: 100vh;
    */color: #000000d8;
    text-align: center;
    left: 100px;
    top: 33px;
    font-size: 12rem;
    letter-spacing: -3px;
    line-height: 190px;
    font-family: "Sequel Regular";
    -webkit-filter: invert(190);
}
/* 
.product-intro::before {
    display: flex;
    justify-content: center;
    align-self: center;
    content: "Flex Shoes";
    position: absolute;
    width: 80%;
    color: #fff;
    text-align: center;
    left: 40px;
    top: -2px;
    font-size: 8.2rem;
    letter-spacing: -3px;
    line-height: 140.3px;
    font-family: "Sequel Regular";
}
*/
.product-intro img{
    filter: hue-rotate(120deg);
    overflow: hidden;
    position: absolute;
    top: 14%;
    left: 35%;
    width: auto;
    height: 100vh;
    -webkit-filter: hue-rotate(120deg);
}
/* 
.product-intro img {
    overflow: hidden;
    position: absolute;
    top: 14%;
    left: 18%;
    width: auto;
    height: 100vh;
}
 */
.bestDeal-container{
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 35vh 65vh;
}
.info-service{
    display: grid;
    grid-area: 1/1/1/3;
    grid-template-columns: repeat(4,1fr);
    width: 100%;
    height: 35vh;
    background: rgb(255, 255, 255);
    
}
/* CardsService */
.cardService{
    padding: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-right: 1px solid #f1f1f1;
}
.cardService h4{
    font-family: 'Fjalla One';
    text-transform: uppercase;
    color: #191919;
}
.cS4{
    border-right: none ;
}
.cardService>p{
    font-size: .8rem;
    font-family: 'Noto Sans';
    color: #837e7e;
}
.cardService>i{
    font-size: 1.7rem;
    color: #4f69dd;
}
/*  */
.bestDeal{
    display: grid;
    grid-template-columns: repeat(2,1fr);

    width: 100%;
    height: 65vh;
    background: #0f5be9;
    grid-area: 2/1/2/3;
}
.best-description{
    grid-area: 1/1/1/2;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 50px 60px;
    text-align: center;
    width: 100%;
    height: 65vh;
    background: #f8f8f8;
    font-family:  'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
}
.best-description>h2{
    color: #141414;
    letter-spacing: -2px;
}
.best-description>p:nth-child(1){
    color: #b9b9b9;
    font-size: .5rem;
    letter-spacing: 1px;
}
.best-description>p:nth-child(3){
    color: #9a9a9a;
    letter-spacing: -.5px;
    font-family: "Noto Sans";
}
.precios{
    display: flex;
    justify-content: center;
}
.pDay{
    font-family: "Roboto";
    font-size: 22px;
    font-weight: 900;
    color: #3351d6;
}
.rebaja{
    margin: -1px 0px 0 20px;
    text-decoration:line-through;
    font-weight: 700;
    font-size:20px;
    font-family: "Noto Sans";
}
/* Countdown */
.countDown{
    width: 40%;
    height: 31px;
    background: rgb(32, 139, 240);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
/*  */
.imgBestDeal{
    grid-area: 1/2/1/3;
    height: 65vh;
    width: 100%;
    background: url("travel.jpg") fixed ;
}
.imgBestDeal img{
    width: 100%;
}
/*  */
.products-container{
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    background: rgba(255, 255, 255, 0.39);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr) 36px;
}
.title-products>h4{
    font-family: 'Fjalla One';
    font-size: 19px;
    letter-spacing: 2px;
}
.title-products{
    padding: 0px 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    color: #fff;
    background: #323335;
}    
.title-products p {
    color: rgb(156, 154, 146);
    font-size: .8rem;
    font-family: "Noto Sans";
}
.title-products p:nth-child(4) {
    color: white;
    font-size: .75rem;
    font-weight: 600;
    font-family: "Noto Sans";
}
.title-products img{
    filter: invert(1);
    width: 38px;
    height: 38px;
    -webkit-filter: invert(1);
}
/* Product */
.product{
    overflow: hidden;
    border: 1px solid #f1f1f1;;
    background: #ffffff;
    padding: 24px;
}
.product img{
    position: absolute;
    width: 195px;

}
.p2 img{
    transform: translate(0,0px);
    -webkit-transform: translate(0,0px);
    -moz-transform: translate(0,0px);
    -ms-transform: translate(0,0px);
    -o-transform: translate(0,0px);
}
.product .prize{
    color: #4f69dd;
}
.product-new {
    display: flex;
    position: relative;
    padding: 20px;
    overflow: hidden;
    grid-area: 2 / 3 / 3 / 5;
    background: -70px -170px url(aquaShoes.jpg);
    filter: hue-rotate(20deg);
    -webkit-filter: hue-rotate(20deg);
}
.descripcionNew{
    color: #fff;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    z-index: 20;
}
.descripcionNew p:nth-child(1){
    display: block;
    font-size: .7em;
    background: #000;
    padding: 3px 4px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.descripcionNew p:nth-child(2) {
    font-family: 'Fjalla One';
    font-size: 17px;
    letter-spacing: 2px;
}
.descripcionNew p:nth-child(3) {
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
}
.descripcionNew button{
    color: #fff;
    font-family:  Calibri, 'Trebuchet MS', sans-serif;
    background: rgba(0, 162, 255, 0.644);
    border: none;
    padding: 10px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
/* .product-new img {
    width: 500px;
    position: relative;
    top: -70px;
    left: 39px;
    filter: hue-rotate(20deg);
    -webkit-filter: hue-rotate(20deg);
    z-index: 10;
} */
.load {
    grid-area: 4/1/5/5;
    text-align: center;
    margin: 0px 44%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.load p{
    font-family: "Cocosignum";
    font-weight: 800;
    letter-spacing: -1px;
}
/* Social */
.social-container{
    overflow: hidden;
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    background: rgb(255, 255, 255);
}
.card-twit{
    filter: invert(1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family:  'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    font-weight: 500;
    font-size: 17px;
    /* padding: 30px; */
    background: #f37000;
    -webkit-filter: invert(1);
}
.card-face p:nth-child(2),
.card-twit p:nth-child(2) {
    letter-spacing: 1px;
    font-size: 1rem;
    font-family: "Noto Sans";
}
.card-face p:nth-child(3),
.card-twit p:nth-child(3){
    font-weight: 800;
    font-size: 30px;
    font-family: "Noto Sans";
}
.card-face p:last-child,
.card-twit p:nth-child(4) {
    font-family: "Noto Sans";
    font-size: 17px;
}
.twits-container{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    padding: 15px 38px;
    grid-area: 1 / 2 / 1 / 4;
    font-size: 15px;
    font-weight: 500;
}
.twits-container small{
    font-family:  'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    color: #b9b9b9;
    font-size: .7rem;
}
.twits-container span,
.twits-container>p {
    font-family: "Noto Sans";
    font-weight: 400;
}
.twits-container span{
    color: rgb(32, 139, 240);
}
.twits-container strong{
    font-family: "Hind";
    font-size: 12px;
    letter-spacing: 1px;
}
.cardsmall-container{
    grid-area: 3/1/4/5;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    overflow: hidden;
}
/*  */
/* Face */
.card-face{
    background: #2840BC;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}
/* Imges */
.cardsmall, .card{
    overflow: hidden;
}
.c1 img{
    transform: translate(-100px,0);
    -webkit-transform: translate(-100px,0);
    -moz-transform: translate(-100px,0);
    -ms-transform: translate(-100px,0);
    -o-transform: translate(-100px,0);
}
.c2 img{
    transform: translate(-100px,0);
    -webkit-transform: translate(-100px,0);
    -moz-transform: translate(-100px,0);
    -ms-transform: translate(-100px,0);
    -o-transform: translate(-100px,0);
}
.c3 img{
    transform: translate(-100px,0);
    -webkit-transform: translate(-100px,0);
    -moz-transform: translate(-100px,0);
    -ms-transform: translate(-100px,0);
    -o-transform: translate(-100px,0);
}
.card img
{
    max-height: 100%;
    width: auto;
}
.cardsmall img
{
    overflow: hidden;
    max-height: 100%;
    width: auto;
}
/* 
    background-image: url(PaginaBodyGradient/run.jpg);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    */
/* Companies */
.companies{
    width: 100%;
    height: 45vh;
    display: grid;
    background: #fff;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(2,1fr);
    z-index: 40;
}
.companie1{
    display: flex;
    justify-content: center;
    background: #fff;
    align-items: center;}
.companies img{
    max-width:50%;
    height: auto;
    filter:opacity(0.5);
    -webkit-filter:opacity(0.5);
}
/* Suscription */
.suscription{
    width: 100%;
    height: 35vh;    
    background: url("19742.jpg") no-repeat fixed ;
}
.suscription{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.suscription h2{
    font-family: "Fjalla One";
    font-size: 25px;
    text-align: center;
    font-weight: normal;
}
.suscription p{
    margin: 10px;
    font-family: "Noto Sans";
    color: rgb(156, 154, 146);
}
.form{

    width: 36%;
    position: relative;
}
.input{
    margin: 10px;
}
.input button,
.input input{
    padding: 10px;
}
.input input{
    width: 100%;
    border: none;
    color: rgb(199, 167, 38);
    box-shadow: rgb(141, 139, 139) 0px 0px 5px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.form button{
    position: absolute;
    bottom: 16px;
    left: 92%;
    border: none;
    background: #fff;
}
.input ::-webkit-input-placeholder { color: rgb(165, 161, 161); }
/* Footer */
footer{
    padding: 10px 11%;
    /* display: grid;
    grid-template-columns: repeat(4,1fr); */
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 20vh;
    background: #232323;
    color: rgb(141, 139, 139);
    font-size: .8rem;
    cursor: default;
}
.shoes-politics{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.shoes-politics h3{
    color: #fff;
    font-family: "Cocosignum";
    font-size: 1.5em;
    letter-spacing: -1px;
    font-weight: normal;
}
.shoes-politics>p{
    letter-spacing: -.5px;
    font-size: .9em;
    font-family: "Noto Sans";
    color: rgb(100, 99, 98);
}
.shoes-politics ul{
    display: flex;
}
.shoes-politics ul li{
    color: #b9b9b9;
    margin: 5px 5px 5px 0;
    font-size: .85em;
    letter-spacing: .2px;
}
.helpShoes{
    display: flex;
    /* justify-content: space-around; */
    align-items: flex-start;
    flex-direction: column;
}
.AboutUs h4,
.helpShoes h4{
    color: #fff;
    font-family: "Fjalla One";
    font-weight: normal;
    font-size: 1em;
    cursor: pointer;
}
.AboutUs ul,
.helpShoes ul{
    margin-top: 15px;
}
.AboutUs ul li,
.helpShoes ul li{
    margin: 3px 0px 3px 0;
    font-size: .9em;
    cursor: pointer;
}
.RedesLogos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}
.Redes i{
    color: #fff;
    margin: 3px;
    cursor: pointer;
}
.RedesLogos .pago p{
    font-size: .8em;
}
.RedesLogos .pago i{
    color: #fff;
    font-size: 1.2em;
    float: right;
    margin: 8px;
    cursor: pointer;
}
